@page "{tripId}/{userId}/{partId}"
@model MainPages.Pages.Trip.SetLeaderModel

@{
    ViewData["Title"] = "Назначение руководителя";
}

<h3>Вы уверены, что хотите назначить участника руководителем?</h3>
<div>
    <hr />
    <dl class="row" style="font-size: 20px;">
        <dt class="col-md-2">
            ФИО
        </dt>
        <dd class="col-md-10">
            @Model.ParticipantsList.UserNumberNavigation.Surname @Model.ParticipantsList.UserNumberNavigation.Name @Model.ParticipantsList.UserNumberNavigation.Patronymic
        </dd>
        <dt class="col-md-2">
            Телефон
        </dt>
        <dd class="col-md-10">
            @DataChecker.BeautyPhone(Model.ParticipantsList.UserNumberNavigation.PhoneNumber);
        </dd>
        <dt class="col-md-2">
            Почта
        </dt>
        <dd class="col-md-10">
            @Model.ParticipantsList.UserNumberNavigation.EmailAddress
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="ParticipantsList.ParticipantNumber" />
        <div style="padding-top: 7px;">
            <a asp-page="/Trip/EditPosts" asp-route-userId="@Model.User.UserNumber" asp-route-tripId="@Model.TripId" asp-route-partId="@Model.ParticipantsList.ParticipantNumber" class="btn btn-secondary" style="font-size: 17px;">Отмена</a>
            <input style="position:relative; left: 12px; font-size: 17px;" type="submit" value="Назначить руководителем" class="btn btn-primary" />
        </div>
    </form>
</div>